{% extends "layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block page %}Sign Up{% endblock %}

from App.controllers import user

{{ super() }}

{% block content %}

 <div class="row">
      <div class="row">
        <form id="myForm" class="col s12 m8 offset-m2">
            

            <div class="input-field col s12 m8 offset-m2"> 
              <input type="text" placeholder="Username" />
              <input type="text" placeholder="Password" />
            </div>

        </form>
      </div>
  </div>
{% endblock %}