{% extends "layout.html" %}
{% block title %} Update Player{% endblock %}

{{ super() }}

{% block content %}
  {% if current_user.is_authenticated %}
  <div class="container">
    <div class="row">
      <form class="col s12 m8 offset-m2" method="POST" action="\update\{{id}}">
            
            {{ form.csrf_token }}

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.assists(size=20, class="validate materialize-textarea") }}
              {{ form.assists.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.clean_sheets(size=20, class="validate materialize-textarea") }}
              {{ form.clean_sheets.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.form(size=20, class="validate materialize-textarea") }}
              {{ form.form.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.goals_conceded(size=20, class="validate materialize-textarea") }}
              {{ form.goals_conceded.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.goals_scored(size=20, class="validate materialize-textarea") }}
              {{ form.goals_scored.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.minutes(size=20, class="validate materialize-textarea") }}
              {{ form.minutes.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.penalties_saved(size=20, class="validate materialize-textarea") }}
              {{ form.penalties_saved.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.red_cards(size=20, class="validate materialize-textarea") }}
              {{ form.red_cards.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.saves(size=20, class="validate materialize-textarea") }}
              {{ form.saves.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2"> 
              {{ form.yellow_cards(size=20, class="validate materialize-textarea") }}
              {{ form.yellow_cards.label }}
            </div>

            <div class="input-field col s12 m8 offset-m2">
              {{form.submit}}
            </div> 
        </form>
    </div>
  {% endif %}
{% endblock %}